/* layout */
.message {
  display: flex;
  align-items: start;
  padding: 1.5rem 1rem;
  gap: 1rem;
}

.message:nth-child(odd) {
  background-color: #eee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

/* left margin */
.speaker {
  width: 72px;
  text-align: right;
  font-weight: bold;
}
.message:nth-of-type(2n) .speaker {
  color: #10a37f;
}
.message:nth-of-type(2n + 1) .speaker {
  color: #107fba;
}

/* center */
.message pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 600px;
  font-family: "Consolas", monospace;
  font-size: 15px;
}

.message p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.message p:last-child {
  margin: 0;
}

pre.inlineCode {
  display: inline;
  font-weight: bold;
}

.message textarea {
  border-color: #107fba;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 600px;
  min-height: 73px;
}

/* right margin */
.messageControls {
  width: 56px;
  flex-direction: column;
  display: flex;
  align-items: end;

  gap: 0.5rem;
}

.messageControls button:first-child {
  margin-top: -8px;
}

.editControls {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.messageControls button {
  flex: none;
  position: relative;
  padding: 4px 8px;

  color: #888888;
  background-color: transparent;
  /* border: 1px solid #a3a3a3; */
  border: none;
  font-size: 13px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.messageControls button:hover {
  background-color: #cccccc;
  color: #555555;
}

.editText {
  width: 560px;
}

.editHint {
  font-size: 14px;
  color: #666666;
}

.messageControls .save {
  background-color: #107fba;
  color: #fff;
}

.messageControls .save:hover {
  background-color: #1390d3;
  color: #fff;
}

.messageControls .cancel {
  background-color: #cccccc;
  color: #555555;
}

.messageControls .cancel:hover {
  background-color: #bbbbbb;
  color: #555555;
}
